/* Msg */
.swal2-popup.swal2-modal.swal2-show{font-size: 11px;}
.swal2-title {margin: 0 0 15px;}
.swal2-title {margin: 0 0 15px;font-size: 20px;font-weight: 600;line-height: 24px;}
div#swal2-content {font-size: 13px;color: rgb(106, 108, 111);text-transform: uppercase;}
.swal2-styled {height: 34px;font-weight: 400;}
.swal2-modal .swal2-styled {box-shadow: none !important;}
.swal2-popup{width: 32em !important}
.swal2-container.swal2-center {z-index: 2010;}


/* Dlg */
.mds-react-utils-dlg{
    width: 600px;
    max-width: 600px;
    margin-top: 80px;
}
.mds-react-utils-dlg.tx-trace{
    width: auto;
    max-width: 800px;
    margin-top: 80px;
}

    .mds-react-utils-dlg .modal-title{
        font-size: 15px;
        margin: 0;
        font-weight: normal;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        word-break: break-all;
        text-transform: uppercase;
    }

    .mds-react-utils-dlg .modal-footer {
        height: 45px;
        padding: 0 0.75rem;
    }


/* TreeTable */
.fnu-treetable tbody tr td:first-of-type svg {
    cursor: pointer;
}
