.swal2-popup.swal2-modal.swal2-show{font-size: 11px;}
.swal2-title {margin: 0 0 15px;}
.swal2-title {margin: 0 0 15px;font-size: 20px;font-weight: 600;line-height: 24px;}
div#swal2-content {font-size: 13px;color: rgb(106, 108, 111);}
.swal2-styled {height: 34px;font-weight: 400;}
.swal2-modal .swal2-styled {box-shadow: none !important;}
.swal2-popup{width: 32em !important}
.swal2-container.swal2-center {z-index: 2010;}